n8n-workflows/2-booking.json
{
  "name": "Silverframe — 2. Foglalás & Lemondás",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "sf-book-01",
      "name": "Webhook — Foglalás",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const b = $input.first().json.body || $input.first().json;\n\nconst DURATIONS = {\n  'portfolio-model': 2, 'maternity': 2, 'boudoir': 3,\n  'family': 3, 'couple': 3, 'business': 2, 'real-estate': 2,\n  'wedding': 10, 'wedding-creative': 4, 'event': 10,\n  'pet': 2, 'product': 3\n};\nconst duration = DURATIONS[b.service] || 2;\n\nconst [h] = (b.time || '9:00').split(':').map(Number);\nconst dateStr = b.date; // YYYY-MM-DD\nconst startISO = new Date(`${dateStr}T${String(h).padStart(2,'0')}:00:00`).toISOString();\nconst endISO   = new Date(new Date(startISO).getTime() + duration * 3600000).toISOString();\n\n// Hungarian date format\nconst MONTHS = ['január','február','március','április','május','június','július','augusztus','szeptember','október','november','december'];\nconst dt = new Date(startISO);\nconst dateHU = `${dt.getFullYear()}. ${MONTHS[dt.getMonth()]} ${dt.getDate()}.`;\n\nconst description = [\n  `👤 Ügyfél: ${b.name}`,\n  `📧 Email: ${b.email}`,\n  `📱 Telefon: ${b.phone || '—'}`,\n  `🎨 Szolgáltatás: ${b.serviceName}`,\n  `📅 Dátum: ${dateHU}`,\n  `🕘 Időpont: ${b.time} (${duration} óra)`,\n  b.note ? `💬 Megjegyzés: ${b.note}` : '',\n  '',\n  `CLIENT_EMAIL:${b.email}`,\n  `CLIENT_NAME:${b.name}`,\n  `SERVICE:${b.serviceName}`\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    summary: `🔄 PENDING: ${b.serviceName} — ${b.name}`,\n    description,\n    startISO,\n    endISO,\n    dateHU,\n    ...b,\n    duration\n  }\n}];"
      },
      "id": "sf-book-02",
      "name": "Adatok előkészítése",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendarId": { "__rl": true, "value": "karelxx73@gmail.com", "mode": "id" },
        "start": "={{ $json.startISO }}",
        "end": "={{ $json.endISO }}",
        "additionalFields": {
          "summary": "={{ $json.summary }}",
          "description": "={{ $json.description }}",
          "status": "tentative"
        }
      },
      "id": "sf-book-03",
      "name": "Naptár esemény (pending)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const event = $input.first().json;\nconst booking = $('Adatok előkészítése').first().json;\nconst eventId = event.id;\n\nconst confirmData = `c|${eventId}|${booking.email}|${booking.name}`.substring(0, 64);\nconst cancelData  = `x|${eventId}|${booking.email}|${booking.name}`.substring(0, 64);\n\nconst keyboard = JSON.stringify({\n  inline_keyboard: [[\n    { text: '✅ Megerősítés', callback_data: confirmData },\n    { text: '❌ Elutasítás',  callback_data: cancelData  }\n  ]]\n});\n\nconst text = [\n  `📸 <b>Új foglalási kérelem!</b>`,\n  ``,\n  `👤 <b>${booking.name}</b>`,\n  `📧 ${booking.email}`,\n  `📱 ${booking.phone || '—'}`,\n  `🎨 ${booking.serviceName}`,\n  `📅 ${booking.dateHU}`,\n  `🕘 ${booking.time} (${booking.duration} óra)`,\n  booking.note ? `💬 ${booking.note}` : null,\n  ``,\n  `<i>Esemény ID: ${eventId}</i>`\n].filter(x => x !== null).join('\\n');\n\nreturn [{ json: { text, keyboard, eventId } }];"
      },
      "id": "sf-book-04",
      "name": "Telegram üzenet előkészítése",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $env.PHOTOGRAPHER_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "={{ $json.keyboard }}"
        }
      },
      "id": "sf-book-05",
      "name": "Telegram értesítés",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"pending\",\"eventId\":\"{{ $('Telegram üzenet előkészítése').first().json.eventId }}\"}",
        "options": {
          "responseHeaders": {
            "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      },
      "id": "sf-book-06",
      "name": "Válasz (pending)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "cancel",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "sf-cancel-01",
      "name": "Webhook — Lemondás",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 560]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const q = $input.first().json.query || {};\nconst eventId = q.eventId || '';\nconst token = q.token || '';\nconst expected = Buffer.from(eventId + ($env.CANCEL_SECRET || 'silverframe')).toString('base64').substring(0, 12);\nconst valid = token === expected;\nreturn [{ json: { eventId, valid } }];"
      },
      "id": "sf-cancel-02",
      "name": "Token ellenőrzés",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 560]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "valid-check",
            "leftValue": "={{ $json.valid }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "true" }
          }]
        }
      },
      "id": "sf-cancel-03",
      "name": "Érvényes token?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 560]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "delete",
        "calendarId": { "__rl": true, "value": "karelxx73@gmail.com", "mode": "id" },
        "eventId": "={{ $json.eventId }}"
      },
      "id": "sf-cancel-04",
      "name": "Esemény törlése",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [900, 500],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Foglalásod sikeresen lemondva.",
        "options": {}
      },
      "id": "sf-cancel-05",
      "name": "Lemondás OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Érvénytelen lemondási link.",
        "options": { "responseCode": 403 }
      },
      "id": "sf-cancel-06",
      "name": "Érvénytelen token",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 640]
    }
  ],
  "connections": {
    "Webhook — Foglalás":             { "main": [[{ "node": "Adatok előkészítése",              "type": "main", "index": 0 }]] },
    "Adatok előkészítése":            { "main": [[{ "node": "Naptár esemény (pending)",         "type": "main", "index": 0 }]] },
    "Naptár esemény (pending)":       { "main": [[{ "node": "Telegram üzenet előkészítése",     "type": "main", "index": 0 }]] },
    "Telegram üzenet előkészítése":   { "main": [[{ "node": "Telegram értesítés",               "type": "main", "index": 0 }]] },
    "Telegram értesítés":             { "main": [[{ "node": "Válasz (pending)",                  "type": "main", "index": 0 }]] },
    "Webhook — Lemondás":             { "main": [[{ "node": "Token ellenőrzés",                 "type": "main", "index": 0 }]] },
    "Token ellenőrzés":               { "main": [[{ "node": "Érvényes token?",                  "type": "main", "index": 0 }]] },
    "Érvényes token?": {
      "main": [
        [{ "node": "Esemény törlése",   "type": "main", "index": 0 }],
        [{ "node": "Érvénytelen token", "type": "main", "index": 0 }]
      ]
    },
    "Esemény törlése": { "main": [[{ "node": "Lemondás OK", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
