n8n-workflows/4-reminder.json
{
  "name": "Silverframe — 4. 48 órás emlékeztető",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }]
        }
      },
      "id": "sf-rem-01",
      "name": "Naponta 9:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const now = new Date();\nconst timeMin = now.toISOString();\nconst timeMax = new Date(now.getTime() + 48 * 3600000).toISOString();\nreturn [{ json: { timeMin, timeMax } }];"
      },
      "id": "sf-rem-02",
      "name": "48h időablak",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/calendar/v3/calendars/karelxx73%40gmail.com/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "key", "value": "={{ $env.GOOGLE_CALENDAR_KEY }}" },
            { "name": "timeMin", "value": "={{ $json.timeMin }}" },
            { "name": "timeMax", "value": "={{ $json.timeMax }}" },
            { "name": "singleEvents", "value": "true" },
            { "name": "orderBy", "value": "startTime" }
          ]
        },
        "options": {}
      },
      "id": "sf-rem-03",
      "name": "Következő 48h eseményei",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const events = ($input.first().json.items || []);\n\nconst MONTHS = ['január','február','március','április','május','június',\n  'július','augusztus','szeptember','október','november','december'];\n\n// Filter: only confirmed events that have CLIENT_EMAIL in description\nconst toNotify = events.filter(ev => {\n  const desc = ev.description || '';\n  return ev.status === 'confirmed' && desc.includes('CLIENT_EMAIL:');\n});\n\nreturn toNotify.map(ev => {\n  const desc = ev.description || '';\n  const emailMatch = desc.match(/CLIENT_EMAIL:([^\\n]+)/);\n  const nameMatch  = desc.match(/CLIENT_NAME:([^\\n]+)/);\n  const svcMatch   = desc.match(/SERVICE:([^\\n]+)/);\n\n  const email   = emailMatch ? emailMatch[1].trim() : null;\n  const name    = nameMatch  ? nameMatch[1].trim()  : 'Kedves Ügyfél';\n  const service = svcMatch   ? svcMatch[1].trim()   : '';\n\n  const dt = new Date(ev.start.dateTime || ev.start.date);\n  const dateHU = `${dt.getFullYear()}. ${MONTHS[dt.getMonth()]} ${dt.getDate()}.`;\n  const timeHU = ev.start.dateTime\n    ? `${dt.getHours()}:${String(dt.getMinutes()).padStart(2,'0')}`\n    : 'Egész nap';\n\n  return { json: { email, name, service, dateHU, timeHU, hasEmail: !!email } };\n});"
      },
      "id": "sf-rem-04",
      "name": "Emlékeztető lista",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [{ "leftValue": "={{ $json.hasEmail }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }]
        }
      },
      "id": "sf-rem-05",
      "name": "Van email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "fromEmail": "info@silverframe.hu",
        "toEmail": "={{ $json.email }}",
        "subject": "⏰ Emlékeztető: holnapi fotózás — Silverframe Studio",
        "emailType": "html",
        "message": "=<p>Kedves <b>{{ $json.name }}</b>!</p><p>Ez egy barátságos emlékeztető: <b>holnap</b> fotózásod van a Silverframe Studióban.</p><table style='margin:1rem 0;border-collapse:collapse;'><tr><td style='padding:.4rem 1rem .4rem 0;color:#888;'>Szolgáltatás:</td><td><b>{{ $json.service }}</b></td></tr><tr><td style='padding:.4rem 1rem .4rem 0;color:#888;'>Dátum:</td><td><b>{{ $json.dateHU }}</b></td></tr><tr><td style='padding:.4rem 1rem .4rem 0;color:#888;'>Időpont:</td><td><b>{{ $json.timeHU }}</b></td></tr></table><p>Ha bármilyen kérdésed van, írj nekünk: <a href='mailto:info@silverframe.hu'>info@silverframe.hu</a></p><p>Találkozunk hamarosan!<br>Silverframe Studio</p>",
        "options": {}
      },
      "id": "sf-rem-06",
      "name": "Emlékeztető email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1340, 240],
      "credentials": { "smtp": { "id": "3", "name": "Silverframe SMTP" } }
    }
  ],
  "connections": {
    "Naponta 9:00":           { "main": [[{ "node": "48h időablak",              "type": "main", "index": 0 }]] },
    "48h időablak":           { "main": [[{ "node": "Következő 48h eseményei",  "type": "main", "index": 0 }]] },
    "Következő 48h eseményei":{ "main": [[{ "node": "Emlékeztető lista",        "type": "main", "index": 0 }]] },
    "Emlékeztető lista":      { "main": [[{ "node": "Van email?",               "type": "main", "index": 0 }]] },
    "Van email?":             { "main": [[{ "node": "Emlékeztető email",        "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
